/* general structure:

+--------------------+
| header             |
+--------------------+
| +-----+      chart |
| | leg |            |
| | end |            |
| +-----+            |
|                    |
+--------------------+
| footer             |
+--------------------+
*/

html,
body {
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  height: 100vh; /* fallback for browsers that do not support custom properties */
  height: calc(var(--vh, 1vh) * 100);
}

/* larger */
/* https://css-tricks.com/logic-in-media-queries/ */
@media (min-width: 576px) and (min-height: 576px) {
  header #top { /* == #top-bar + #credits */
    height: 64px;
    max-height: 64px;
  }
  header #top-bar {
    height: 40px;
    max-height: 40px;
    margin: 4px 4px 0 4px;
  }
  header #credits {
    top: 44px;
    height: 20px;
    max-height: 20px;
  }
  main #chart,
  main #legend,
  main #rightVerticalBar {
    top: 64px;
  }
  main #chart,
  main #rightVerticalBar {
    height: calc(100vh - 101px); /* fallback */
    height: calc((var(--vh, 1vh) * 100) - 101px);
  }
  main #legend,
  main #legend .card{
    max-height: calc(100vh - 110px); /* fallback */
    max-height: calc((var(--vh, 1vh) * 100) - 110px);
  }
  footer #bottom {
    min-height: 37px;
  }
}

/* smaller */
@media (max-width: 576px), (max-height: 576px) {
  header #top {
    height: 50px;
    max-height: 50px;
  }
  header #top-bar {
    height: 35px;
    max-height: 35px;
    margin: 0;
  }
  header #credits {
    top: 31px;
    height: 19px;
    max-height: 19px;
  }
  main #chart,
  main #legend,
  main #rightVerticalBar {
    top: 50px;
  }
  main #chart,
  main #rightVerticalBar {
    height: calc(100vh - 87px); /* fallback */
    height: calc((var(--vh, 1vh) * 100) - 87px);
  }
  main #legend,
  main #legend .card{
    max-height: calc(100vh - 95px); /* fallback */
    max-height: calc((var(--vh, 1vh) * 100) - 95px);
  }
  footer #bottom {
    min-height: 37px;
  }
}

main #legend {
  position: fixed;
  left: 0px;
}

main #legend .card {
  overflow-y: scroll;
  background-color: transparent;
}

main #rightVerticalBar {
  position: fixed;
  right: 0;
}

header .active#location:not(:hover) {
  background-color: #ccc !important;
}

main #chart {
  position: fixed;
  left: 0;
  width: 100%;
}

main noscript {
  position: fixed;
  top: 100px;
  left: 5px;
  right: 5px;
}

#modalCountryPicker .modal-body {
  height: calc(90vh - 60px); /* fallback */
  max-height: calc((var(--vh, 1vh) * 90) - 60px);
}



