#legend .card-body {
  padding: 0.1rem 0.2rem;
  padding-top: 0.1rem;
  padding-right: 0.2rem;
  padding-bottom: 0.1rem;
  padding-left: 0.2rem;
  font-size: 14px;
  opacity: 1;
}

#legend table.table {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#legend table.table thead th {
  position: sticky;
  top: 0;
  color: rgb(0, 45, 114);
  /* background-color: rgb(250,240,230); /* aka #faf0e6 aka Linen cf. https://www.colorhexa.com/faf0e6*/
  background-color: white;
}

#legend table.table tbody tr:first-child td {
  padding-top: .5rem;
}
#legend table.table tbody tr:last-child td {
  padding-bottom: .5rem;
}
#legend table.table tbody td,
#legend table.table thead th {
  border: none;
}

#legend table.table tbody tr.selected {
  background-color: rgba(0, 0, 0, 0.075);
  /* #e7e9fa;  */
}

#legend table.table thead th.country {
  z-index: 4000;
}
#legend table.table thead th.country button {
  min-height: 24px;
}
#legend table.table tbody td.country {
  cursor: pointer;
}

#legend table.table tbody td.country:hover {
  text-decoration: underline;
}

#legend table.table tbody td.country,
#legend table.table tbody td.legend_population {
  padding-right: 0.3rem;
}

#legend table.table thead th.legend_population,
#legend table.table tbody td.legend_population {
  font-family: monospace;
  font-size: 12px;
  text-align: right;
  padding-left: 0.5rem;
}
#legend table.table thead th.legend_population {
  padding: 0;
  font-size: 12px;
}
#legend button {
  padding: 0 0.25rem;
}

#legend button.remove {
  vertical-align: top;
  padding: 1px;
  border: none;
}

#legend .btn-outline-secondary:enabled:not(:hover) {
  background-color: white !important;
}

#legend button#filterToggle.active {
  color: black !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active {
  background-color: white !important;
}

#rightVerticalBar button {
  padding: 0 0 2px 0;
}

#rightVerticalBar button img {
  width: 20px;
  height: auto;
}

#rightVerticalBar button:not(:hover) {
  background-color: white;
}

#legendToggle {
  width: 24px;
}

#legendToggle:not(.folded) img#legendToggleOpen,
#legendToggle.folded img#legendToggleClosed {
  display: none;
}

#legendToggle.folded img#legendToggleOpen,
#legendToggle:not(.folded) img#legendToggleClosed {
  display: inline;
}

#populationToggle:not(.active) img#populationToggleOpen,
#populationToggle.active img#populationToggleClosed {
  display: none;
}

#populationToggle.active img#populationToggleOpen,
#populationToggle:not(.active) img#populationToggleClosed {
  display: inline;
}
