html, body {
    height: 100%;
}

body {
    font: 12pt sans-serif;
}

/* general structure 

+--------------------+
| header             |
+--------------------+
| +-----+  chart     |
| | leg |            |
| | end |            |
| +-----+            |
|                    |
+--------------------+
| footer             |
+--------------------+
*/

header #top {
    height: 56px;
    max-height: 56px;
    background-color: white;
}

header #top2 {
    height: 40px;
    max-height: 40px;
    background-color: ghostwhite;
}

header #credits {
    white-space: nowrap;
    overflow: hidden hidden;
    text-overflow: ellipsis;
    height: 16px;
    top: 40px;
    max-height: 16px;
    padding: 0 .25rem;
    font-size: 12px;
    color: rgb(120, 120, 120);
    background-color: white;
    z-index: 1000;
}

header #credits #when_is_data_updated {
    white-space: nowrap;
    overflow: hidden hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

main #chart {
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100vh - 92px);
    width: 100%;
}

main noscript {
    position: fixed;
    top: 100px;
    left: 5px;
    right: 5px;
}

footer #bottom {
    /* height: 48px; NEVER UNCOMMENT height !!!! */
    font-family: sans-serif;
    overflow: hidden hidden;
    background-color: ghostwhite;
    /* z-index: 2000; */
}

/* /general structure */

/* - - - - - header - - - - - */

header #top2 #title {
    display: inline-block;
    font-size: 24px;
    white-space: nowrap;
}

header #top2 #top-float-right {
    font-size: 14px;
    visibility: hidden;
}

header #top2 #top-float-right [type="button"] {
    padding-left: 4px;
    padding-right: 4px;
}

header #top2 #b0x0 img {
    display: inline-block;
    width: 16px;
    height: auto;
}

header #top2 ._boxrow1, #top2 ._boxrow2 {
    height: 24px;
}

header #top2 ._boxrow2 {
    padding-top: 0 !important;
}

header #top2 ._boxcol1 {
    text-align: right;
}

header #top2 button:not(:hover) {
    background-color: white;
}

footer #bottom button:not(:hover) {
    background-color: white;
}

/* - - - - - footer - - - - - */

footer #bottom .container-fluid {
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
    flex-wrap: nowrap;
}

footer #bottom [data-toggle="toggle"] {
    border: none;
}

footer #bottom #top2 ._boxcol2 {
    text-align: center;
}

footer #bottom .form-check-inline {
    margin-right: 0;
}

footer #bottom label {
    height: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 0 !important;
    text-align: center !important;
}

footer #bottom .card:first-child {
    margin-left: 0.2rem;
}

footer #bottom {
    padding: 0.1rem 0.2rem;
}

footer #bottom .card {
    margin: 0 0.2rem;
}

footer #bottom .navbar-brand {
    margin-right: 0;
}

footer #bottom .card-body {
    padding: 0.1rem 0.2rem;
    padding-top: 0.1rem;
    padding-right: 0.2rem;
    padding-bottom: 0.1rem;
    padding-left: 0.2rem;
    font-size: 12px;
    min-width: 100px;
}

footer #bottom .navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

footer #bottom #average {
    font-family: monospace;
}