body#lui {
  background: #222032;
  color: white;
  font-family: monospace;
  
}

body#lui h1 {
    text-align: center;
    width:100%;
}

.box {
  display: inline-block;
  /* background: #222032; 
  color: white;*/
  width: 30px;
  height: 30px;
  /* position: absolute; 
  top: 50%;
  left: 50%;*/
}

.object {
  /* display: inline;*/
  display: flex;
  flex: 0 1 100%; 
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: relative;
}

.outline {
  display: inline;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border: 8px solid #b5a4a4; */
  position: absolute;
}

.button#speechRecognition {
  /* width: 120px;
  height: 120px; */
  border-radius: 50%;
  background: white; 
  box-shadow: 0px 0px 80px #0084f9;
  /* position: absolute; */
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
    border: 65px solid #0b3082;
  }
  50% {
    border: solid #a3ffc2;
    opacity: 0.8;
  }

  90% {
    transform: scale(3.3);
    opacity: 0.2;
    border: 3px solid #2e3cff;
  }
  100% {
    transform: scale(3.3);
    opacity: 0;
    border: 1px solid #7a89ff;
  }
}

#delayed {
  animation-delay: 1.5s;
}

#speechRecognition {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px -2px 15px #e0ff94;
  position: absolute;
}

